@page "/login"
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@*<h3>Login</h3>
    <form method="post">
        <input name="username" type="text" />
        <input name="password" type="password" />
        <button type="submit">Go</button>
    </form>*@
<RemoteAuthenticatorView Action="@RemoteAuthenticationActions.LogIn" />
@code {

}
